@layer utilities {
  .text-gradient {
    /* @apply bg-gradient-to-br from-productBgColor to-colorGrad2; */
    background: rgb(73, 92, 191);
    background: linear-gradient(
      90deg,
      rgba(73, 92, 191, 1) 37%,
      rgba(150, 84, 201, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #444;
  }
  .bg-gradient {
    background: rgb(73, 92, 191);
    background: linear-gradient(
      90deg,
      rgba(73, 92, 191, 1) 37%,
      rgba(150, 84, 201, 1) 100%
    );
  }
  .nav-list {
    @apply hover:mr-4 mx-5 transition-all ease-linear duration-200 py-3 border-b border-slate-300 lg:py-0 lg:border-b-0 lg:mr-4 lg:hover:-translate-y-0.5;
  }
}
